################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/
/frontend/.env
backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/
backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/Logs.txt.1
backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/Logs.txt.1
/backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/Logs.txt.1
/backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/Logs.txt.2
/backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/Logs.txt.10
/backend/src/Boxfusion.LMS_Backend.Web.Host/App_Data/Logs/Logs.txt.3

.fake
.vscode/settings.json
